@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a class="btn btn-success" href="/Account/Registerion_ins" role="button">Instractor</a>
        <a class="btn btn-success" href="/Account/Registerion" role="button">Student</a>
    </div>
</div>
