@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="m-3"> Welcome </h1>
    <div class="m-3">
        <a class="btn btn-success" href="/Account/Registerion_ins" role="button">Instractor</a>
        <a class="btn btn-success" href="/Account/Registerion" role="button">Student</a>
    </div>
</div>
