@model Questions
@{
    ViewData["Title"] = "Update";
}

<h1>Edit_Question</h1>



<form method="post">
    <input type="number" class="form-control" id="Id" name="Id" value="@Model.Id" hidden />
    <div class="mb-3 mt-3">
        <label asp-for="head" class="form-label">Head</label>
        <input type="text" class="form-control"  asp-for="head" value="@Model.head" >
    </div>

    <div class="mb-3">
        <label asp-for="body" class="form-label">Body</label>
        <input type="text" class="form-control"  asp-for="body" value="@Model.body" >
    </div>

    <div class="mb-3">
        <label asp-for="answer" class="form-label">Answer</label>
        <input type="text" class="form-control"  asp-for="answer" value="@Model.answer">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

